@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "ReenieBeanie";
    src: url("fonts/ReenieBeanie-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
}

body {

}

.bg {
    width: 100vw;
    max-width: 600px;
    background: #f9f3e3 url("img/ohtuleht-taust-1000x2000px.png") no-repeat center;
    background-size: auto;
}