@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "ReenieBeanie";
    src: url("fonts/ReenieBeanie-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html, body, div, label, input, button, h1, h2, p, textarea {
    padding: 0;
    margin: 0;
}

body {
    font-family: "FiraSans", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: "ReenieBeanie", sans-serif;
    font-weight: normal;
    font-size: 12vw;
    margin: 22vw 0 13vw 0;
}

h2 {
    font-size: 8vw;
    margin: 10vw 0 6vw 13vw;
}

.body-text {
    font-size: 4vw;
    margin-left: 13vw;
}

.footer-text {
    font-size: 3.5vw;
}

textarea {
    font-size: 4vw;
    line-height: 10.5vw;
    margin-left: 13vw;
    margin-bottom: 10vw;
    width: 74%;
    background: none;
    outline: none;
}

#logo {
    width: 28vw;
    margin: 6.5vw 0 9vw 0;
}

.bg {
    width: 100%;
    max-width: 600px;
    height: auto;
    background: #f9f3e3 url("img/taust-ref.png") no-repeat center;
    background-size: contain;
    aspect-ratio: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.name-input-container {
    display: flex; /* Flexbox for centering content */
    flex-direction: column; /* Stack label, input, and button vertically */
    align-items: center; /* Center elements horizontally */
    margin-top: 30vw;
}

label, input, button {
    font-size: 4vw;
    text-align: center;
}

input, input:active, button {
    padding: 3vw 8vw;
    margin: 4vw 0;
    border: 0.5vw solid black;
    border-radius: 5vw;
    background: none;
    outline: none;
}

label {
    margin: 3vw 0;
}

button:hover {
    border: 0.5vw solid #e2050d;
    color: #e2050d;
}

.card-container {
    display: flex; /* Flexbox for centering content */
    flex-direction: column; /* Stack label, input, and button vertically */
    align-items: center; /* Center elements horizontally */
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    width: 100%; /* Ensure it spans the full width of the container */
}

.footer-container {
    display: flex;
}

#80-logo {
    width: 6vw;
}

.hidden {
    display: none;
}

@media (min-width: 600px) {
    .name-input-container {
        margin-top: 180px;
    }

    label, input, button {
        font-size: 24px;
    }

    input, input:active, button, button:hover {
        padding: 18px 48px;
        margin: 24px 0;
        border: 2px solid;
        border-radius: 30px;
    }

    label {
        margin: 18px 0;
    }
}